body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1.1em;
    line-height: 0.6;
    text-shadow: 1px 1px black;
    background-color: #444;
}

header {
    font-size: 1.4em;
    line-height: 1.4;
}

h1 {
    font-size: 4em;
}

a {
    color: #08c;
    text-shadow: 1px 1px white;
}

blockquote {
    font-style: italic;
}

.bg {
    background-color: black;
    background-image: url("/assets/img/cover.png");
    background-position: top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: blur(0px);
    z-index: -1;
}
